body
  margin: 0
  padding: 0
  background: #161616
  color: #fff
  font-family: 'Open Sans', sans-serif
  overflow: hidden
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

  &:hover
    cursor: default

ul
  -webkit-padding-start: 0px

::-webkit-scrollbar
  display: none

.wrapper
  width: 88%
  height: auto
  margin-left: auto
  margin-right: auto
  top: 0
  left: 0
  right: 0

.ui
  position: fixed
  z-index: 1
  top: 0
  left: 0
  width: 100%
  height: auto

  .menu-button
    position: absolute
    width: 32px
    height: 32px
    top: 4.4vw
    left: 3.8vw
    transition: 0.4s

    &:hover
      cursor: pointer

      .menu-part
        background-color: #F44336
        transition: 0.4s

        &:nth-child(1)
          animation: menu .4s infinite forwards alternate-reverse paused
        &:nth-child(2)
          animation: menu .5s infinite forwards alternate-reverse paused
        &:nth-child(3)
          animation: menu .6s infinite forwards alternate-reverse paused
        &:nth-child(4)
          animation: menu .7s infinite forwards alternate-reverse paused

    .menu-part
      display: block
      width: 100%
      height: 2px
      background-color: #ffffff
      margin-bottom: 0.6vh

      &:nth-child(1)
        animation: menu .4s infinite forwards alternate-reverse
      &:nth-child(2)
        animation: menu .5s infinite forwards alternate-reverse
      &:nth-child(3)
        animation: menu .6s infinite forwards alternate-reverse
      &:nth-child(4)
        animation: menu .7s infinite forwards alternate-reverse

  .section-name
    position: absolute
    z-index: 8
    height: 24px
    top: 4.4vw
    left: 50%
    transform: translateX(-50%)
    font-size: 2vh
    font-weight: 400
    transition: 0.4s

    div:first-child
      opacity: 1

    div:last-child
      opacity: 0

  .menu-ui
    position: fixed
    z-index: -1
    text-align: left
    top: 0
    left: 0
    width: 400px
    height: 100%
    background-color: #fff
    margin-left: -800px

    div
      color: #000
      font-size: 28px
      font-weight: 500
      margin-left: 40px
      transition: 0.4s
      padding-bottom: 10px
      margin-bottom: -26px
      height: 30px

      &:hover
        cursor: pointer
        transition: 0.4s

    .menu-wrapper
      position: absolute
      top: 50%
      transform: translateY(-50%)

      a
        text-decoration: none
        color: #fff

      .menu-ui-intro
        width: 66px
        border-bottom: #000 solid 2px
        transition: 0.4s

        &:hover
          width: 100px
          transition: 0.4s
          border-bottom-color: #F44336

      .menu-ui-about
        width: 84px
        border-bottom: #000 solid 2px
        transition: 0.4s

        &:hover
          width: 118px
          transition: 0.4s
          border-bottom-color: #F44336

      .menu-ui-works
        width: 84px
        border-bottom: #000 solid 2px
        transition: 0.4s

        &:hover
          width: 118px
          transition: 0.4s
          border-bottom-color: #F44336

      .menu-ui-contact
        width: 110px
        border-bottom: #000 solid 2px
        transition: 0.4s

        &:hover
          width: 144px
          transition: 0.4s
          border-bottom-color: #F44336

.recent-work
  margin-top: 20vh
  width: 100%
  height: 52vh
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0
  padding-top: 12vh
  filter: grayscale(100%)
  transition: 0.4s
  background-color: #161616
  background-image: url('/images/recent-work/recent-work.png')
  background-repeat: no-repeat
  background-size: cover
  background-position: center

  &:hover
    filter: grayscale(0)
    transition: 0.4s

  h1
    font-size: 6.4vh
    font-weight: 700
    margin-left: -4vw

  .explore-button
    position: relative
    margin-top: -22px
    font-size: 2vh
    font-weight: 400
    width: 14vh
    text-align: left
    margin-left: -4vw
    padding-bottom: 6px
    border-bottom: #fff solid 2px
    transition: 0.4s

    &:hover
      cursor: pointer
      border-bottom-color: #F44336
      transition: 0.4s
      width: 154px

.profile
  margin-top: 6vh
  margin-left: auto
  margin-right: auto
  width: 100%
  margin-bottom: 54vh

  p
    margin-top: 54vh
    font-size: 2vh
    line-height: 4vh
    color: #505050
    width: 72vh

    span
      color: #fff

  .showreel-div
    position: absolute
    display: block
    margin-top: -60vh
    margin-left: 20vw

    .showreel
      position: absolute
      z-index: -1
      height: 72vh
      width: 64vw
      background-color: #000

    .play-button
      z-index: 1
      background-image: url('/images/extra/play.svg')
      background-repeat: no-repeat
      background-size: cover
      background-position: center
      margin-left: 60vw
      margin-top: 3.6vh
      height: 4vh
      width: 4vh
      transition: 0.4s

      &:hover
        transition: 0.4s
        cursor: pointer
        background-image: url('/images/extra/play-hover.svg')

  .about-button
    margin-left: auto
    margin-right: auto
    font-size: 2vh
    font-weight: 400
    width: 6vh
    text-align: center
    padding-bottom: 0.5vh
    border-bottom: #fff solid 2px
    transition: 0.4s

    &:hover
      cursor: pointer
      border-bottom-color: #F44336
      transition: 0.4s
      width: 9vh

.works
  margin-left: auto
  margin-right: auto
  margin-bottom: 140px
  width: auto
  height: auto
  text-align: center

  .head-works
    font-size: 44px
    font-weight: 400
    width: 140px
    border-bottom: #fff solid 3px
    margin-bottom: 36px
    padding-bottom: 5px

  .head-others
    margin-top: 240px
    margin-left: auto
    margin-right: auto
    font-size: 24px
    font-weight: 400
    width: 84px
    border-bottom: #fff solid 3px
    margin-bottom: 36px
    padding-bottom: 5px

  .more
    margin-top: 82px
    margin-bottom: 20px
    margin-left: auto
    margin-right: auto
    width: 180px
    height: 24px
    border: #fff solid 2px
    color: #fff
    font-size: 15px
    font-weight: 600
    padding-top: 12px
    padding-bottom: 9px
    text-align: center
    transition: 0.4s

    &:hover
      cursor: pointer
      transition: 0.4s
      background-color: #fff
      color: #161616

  .workcontrol
    width: 100%
    height: 26px
    margin-top: -90px
    margin-bottom: 20px
    margin-left: auto
    margin-right: auto

  .workcontrol-buttons
    display: inline-block
    margin-top: 82px
    margin-bottom: 20px
    width: 180px
    height: 16px
    border: #fff solid 2px
    color: #fff
    font-size: 15px
    font-weight: 600
    padding-top: 3px
    padding-bottom: 9px
    text-align: center
    transition: 0.4s

    &:hover
      cursor: pointer
      transition: 0.4s
      background-color: #fff
      color: #161616

  .workcontrol-buttons-first
    display: inline-block
    margin-top: 82px
    margin-bottom: 20px
    width: 80px
    height: 16px
    border: #fff solid 2px
    color: #fff
    font-size: 15px
    font-weight: 600
    padding-top: 3px
    padding-bottom: 9px
    text-align: center
    transition: 0.4s

    &:hover
      cursor: pointer
      transition: 0.4s
      background-color: #fff
      color: #161616

  .works-ul
    text-align: center
    list-style-type: none
    height: 750px
    width: 100%
    white-space: nowrap
    display: inline-block

    .work
      display: inline-block
      margin-right: 220px
      width: 1440px
      height: 720px
      max-height: 736px
      background-color: #fff
      vertical-align: middle
      filter: grayscale(100%)
      transition: 0.4s

      &:hover
        filter: grayscale(0%)
        transition: 0.4s

      .work-name
        width: 100%
        font-size: 74px
        text-align: left
        font-weight: 600
        float: left
        margin-left: -68px
        margin-top: 420px
        margin-bottom: -20px

      .work-info
        width: 100%
        text-align: left
        font-size: 24px
        margin-left: -28px
        font-weight: 600
        float: left
        margin-top: 20px
        color: #AAA

      .work-link
        display: block
        text-decoration: none
        color: #fff
        font-size: 15px
        margin-top: 20px
        margin-left: 190px
        border: #fff solid 2px
        width: 200px
        padding-top: 10px
        padding-bottom: 6px
        height: 24px
        padding-left: 30px

        span
          padding-right: 60px
          transition: 0.4s

        &::after
          content: ' \2192'

        &:hover
          background-color: #fff
          color: #161616

          span
            padding-right: 80px
            transition: 0.4s

  .others-ul
    position: relative
    display: inline-block
    list-style-type: none
    margin-left: auto
    margin-right: auto
    text-align: center
    width: 1400px

    .other
      margin-left: 50px
      margin-bottom: 96px
      height: 320px
      width: 370px
      text-align: center
      border: 0
      display: inline-block
      filter: grayscale(100%)
      transition: 0.4s
      background-color: #505050

      &:hover
        filter: grayscale(0%)
        transition: 0.4s

      &:nth-child(1), &:nth-child(4), &:nth-child(7), &:nth-child(10), &:nth-child(13), &:nth-child(16), &:nth-child(19)
        margin-left: 0

      a
        color: #fff
        text-decoration: none

      img
        border: 0
        height: 320px
        width: 374px
        background-color: #0D1114
        margin-bottom: 22px

      span
        font-size: 14px
        font-weight: 500
        line-height: 18px

        span
          color: #9ea4a9
          font-size: 13px
          font-weight: 300
          line-height: 18px

.footer
  width: 100%
  text-align: center

  hr
    margin-bottom: 96px
    height: 2px
    width: 60px
    border: 0
    background-color: #fff
    opacity: 0.3

  .letstalk
    display: block
    font-size: 28px
    margin-bottom: 12px

    a
      color: #fff
      transition: 0.4s

      &:hover
        opacity: 0.4
        transition: 0.4s

  .social
    list-style: none
    display: inline-block
    width: 100%
    text-align: center

    li
      display: inline-block
      margin-right: 14px
      transition: 0.4s

      &:last-child
        margin-right: 0px

      img
        height: 20px
        width: 20px

      &:hover
        opacity: 0.4
        transition: 0.4s

  .year
    width: 100%
    font-size: 12px
    letter-spacing: 0.6px
    margin-top: 92px
    margin-bottom: 52px
    text-align: center
    opacity: 0.3

@keyframes menu
  0%
    width: 0%
  100%
    width: 100%

@keyframes menu-ui
  0%
    transform: skew(-30deg)
    margin-left: -800px
  100%
    transform: skew(0deg)
    margin-left: 0px

@keyframes menu-ui-off
  0%
    transform: skew(0deg)
    margin-left: 0px
  100%
    transform: skew(10deg)
    margin-left: -800px

@keyframes menu-ui-link
  0%
    opacity: 0
    margin-left: -70px
  50%
    opacity: 0.2
    margin-left: -35px
  100%
    opacity: 1
    margin-left: 40px

@keyframes menu-ui-link-off
  0%
    opacity: 1
  50%
    opacity: 0.2
  100%
    opacity: 0


@media only screen and (max-width : 800px)
  .recent-work
    height: 36vh
    padding-top: 28vh
    h1
      font-size: 6.4vw
    .explore-button
      font-size: 1.8vh
      width: 13vh
      margin-top: -12px
      &:hover
        width: 134px

  .profile
    margin-bottom: 34vh
    p
      margin-top: 34vh
      font-size: 1.8vh
      line-height: 3vh
      width: 100%
    .showreel-div
      position: relative
      height: 42vh
      width: 100%
      margin-top: 5vh
      margin-left: 0
      .showreel
        position: relative
        width: 100%
        height: 100%
        background-color: #000
      .play-button
        z-index: 1
        margin-left: 70vw
        margin-top: -38vh
        height: 4vh
        width: 4vh

  .footer
    .letstalk
      font-size: 2vh

    .social
      li
        img
          height: 16px
          width: 16px
    .year
      font-size: 11px
      margin-top: 72px
