body {
  margin: 0;
  padding: 0;
  background: #161616;
  color: white;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  body:hover {
    cursor: default; }

::-webkit-scrollbar {
  display: none; }

.wrapper {
  position: relative;
  width: 1600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }

.ui {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 132px; }

.menu-button {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 76px;
  left: 68px;
  transition: 0.4s; }
  .menu-button:hover {
    cursor: pointer; }
    .menu-button:hover .menu-part {
      background-color: #F44336;
      transition: 0.4s; }
      .menu-button:hover .menu-part:nth-child(1) {
        animation: menu 0.4s infinite forwards alternate-reverse paused; }
      .menu-button:hover .menu-part:nth-child(2) {
        animation: menu 0.5s infinite forwards alternate-reverse paused; }
      .menu-button:hover .menu-part:nth-child(3) {
        animation: menu 0.6s infinite forwards alternate-reverse paused; }
      .menu-button:hover .menu-part:nth-child(4) {
        animation: menu 0.7s infinite forwards alternate-reverse paused; }
  .menu-button .menu-part {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    margin-bottom: 6px; }
    .menu-button .menu-part:nth-child(1) {
      animation: menu 0.4s infinite forwards alternate-reverse; }
    .menu-button .menu-part:nth-child(2) {
      animation: menu 0.5s infinite forwards alternate-reverse; }
    .menu-button .menu-part:nth-child(3) {
      animation: menu 0.6s infinite forwards alternate-reverse; }
    .menu-button .menu-part:nth-child(4) {
      animation: menu 0.7s infinite forwards alternate-reverse; }

.section-name {
  position: absolute;
  z-index: 8;
  height: 32px;
  top: 76px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.25rem;
  font-weight: 400;
  transition: 0.4s;
  text-align: center; }
  .section-name div:first-child {
    opacity: 1; }
  .section-name div:last-child {
    opacity: 0; }

.recent-work {
  position: relative;
  margin-top: 170px;
  width: 1600px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding-top: 120px;
  margin-bottom: -120px;
  filter: grayscale(100%);
  transition: 0.4s;
  background-color: #161616;
  background-image: url("/images/recent-work/recent-work.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center; }
  .recent-work:hover {
    filter: grayscale(0);
    transition: 0.4s; }
  .recent-work h1 {
    font-size: 4.35rem;
    font-weight: 700;
    margin-left: -90px; }

.explore-button {
  position: relative;
  margin-top: -20px;
  font-size: 1.25rem;
  font-weight: 400;
  width: 142px;
  text-align: left;
  margin-left: -90px;
  padding-bottom: 5px;
  border-bottom: #fff solid 2px;
  transition: 0.4s; }
  .explore-button:hover {
    cursor: pointer;
    border-bottom-color: #F44336;
    transition: 0.4s;
    width: 176px; }

.profile {
  position: relative;
  margin-top: 185px;
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  margin-bottom: 600px; }
  .profile h1 {
    margin-top: 500px; }
  .profile p {
    margin-top: 620px;
    font-size: 20px;
    line-height: 40px;
    color: #505050; }
    .profile p span {
      color: #fff; }

.about-button {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem;
  font-weight: 400;
  width: 60px;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: #fff solid 2px;
  transition: 0.4s; }
  .about-button:hover {
    cursor: pointer;
    border-bottom-color: #F44336;
    transition: 0.4s;
    width: 94px; }

.menu-ui {
  position: fixed;
  z-index: -1;
  text-align: left;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  background-color: #fff;
  margin-left: -800px; }
  .menu-ui div {
    color: #000;
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.4s;
    padding-bottom: 10px;
    margin-bottom: -26px;
    height: 30px; }
    .menu-ui div:hover {
      cursor: pointer;
      border-bottom-color: #F44336;
      transition: 0.4s; }

.menu-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
  .menu-wrapper a {
    text-decoration: none;
    color: #fff; }

.menu-ui-intro {
  width: 66px;
  border-bottom: #000 solid 2px;
  transition: 0.4s; }
  .menu-ui-intro:hover {
    width: 100px;
    transition: 0.4s; }

.menu-ui-about {
  width: 84px;
  border-bottom: #000 solid 2px;
  transition: 0.4s; }
  .menu-ui-about:hover {
    width: 118px;
    transition: 0.4s; }

.menu-ui-works {
  width: 84px;
  border-bottom: #000 solid 2px;
  transition: 0.4s; }
  .menu-ui-works:hover {
    width: 118px;
    transition: 0.4s; }

.menu-ui-contact {
  width: 110px;
  border-bottom: #000 solid 2px;
  transition: 0.4s; }
  .menu-ui-contact:hover {
    width: 144px;
    transition: 0.4s; }

.works {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
  width: 1600px;
  height: 836px; }
  .works .head-works {
    font-size: 44px;
    font-weight: 400;
    width: 132px;
    border-bottom: #fff solid 3px;
    margin-bottom: 66px; }
  .works .followon {
    position: relative;
    margin-right: auto;
    text-align: center;
    margin-top: -60px;
    margin-left: -52px;
    padding-bottom: 60px; }
    .works .followon span:first-child {
      font-size: 28px;
      border-bottom: #fff solid 2px;
      padding-bottom: 5px;
      margin-left: 52px; }
  .works .follow {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 14px;
    border: #fff solid 2px;
    border-radius: 30px;
    margin-top: -42px;
    margin-bottom: 76px;
    text-decoration: none;
    color: #fff;
    margin-left: 50px;
    width: 260px;
    transition: 0.4s; }
    .works .follow span {
      margin-left: 60px;
      color: #fff;
      font-weight: 600;
      text-decoration: none; }
    .works .follow img {
      margin-bottom: -8px; }
    .works .follow:hover {
      background-color: #fff; }
      .works .follow:hover span {
        color: #161616;
        font-weight: 600; }
      .works .follow:hover img {
        filter: invert(100%); }
  .works .follow-link {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    text-align: center;
    color: #F44336;
    width: auto;
    max-width: 300px;
    margin-bottom: 20px;
    opacity: 0;
    transition: 0.6s; }
  .works ul {
    position: relative;
    list-style-type: none;
    margin-left: -40px;
    height: 836px;
    width: 100%;
    white-space: nowrap;
    display: inline-block; }
    .works ul li {
      margin-right: 168px;
      width: 1440px;
      height: 750px;
      max-height: 750px;
      background-color: #fff;
      display: inline-block;
      vertical-align: middle; }

.footer {
  position: relative;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: center;
  margin-top: 220px; }
  .footer .right-f {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    float: left; }
    .footer .right-f .year {
      font-size: 14px;
      margin-top: 96px;
      margin-bottom: 56px;
      width: 100px;
      display: inline-block;
      margin-right: 528px; }
    .footer .right-f .social {
      position: relative;
      list-style: none;
      width: 275px;
      display: inline-block;
      margin-left: auto;
      margin-right: auto; }
      .footer .right-f .social li {
        display: inline-block;
        margin-right: 10px;
        transition: 0.4s; }
        .footer .right-f .social li:hover {
          opacity: 0.4;
          transition: 0.4s; }
  .footer .mail {
    float: right;
    font-size: 14px;
    margin-top: 96px;
    margin-bottom: 56px;
    display: inline-block; }
    .footer .mail a {
      text-decoration: none;
      color: #fff;
      transition: 0.4s; }
      .footer .mail a:hover {
        opacity: 0.4;
        transition: 0.4s; }

@keyframes menu {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
@keyframes menu-ui {
  0% {
    transform: skew(-30deg);
    margin-left: -800px; }
  100% {
    transform: skew(0deg);
    margin-left: 0px; } }
@keyframes menu-ui-off {
  0% {
    transform: skew(0deg);
    margin-left: 0px; }
  100% {
    transform: skew(10deg);
    margin-left: -800px; } }
@keyframes menu-ui-link {
  0% {
    opacity: 0;
    margin-left: -70px; }
  50% {
    opacity: 0.2;
    margin-left: -35px; }
  100% {
    opacity: 1;
    margin-left: 40px; } }
@keyframes menu-ui-link-off {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 0; } }
@keyframes section-name {
  0% {
    opacity: 0;
    margin-top: -20px; }
  100% {
    opacity: 1;
    margin-top: 0px; } }
@keyframes section-name-off {
  0% {
    opacity: 1;
    margin-top: 0px; }
  100% {
    opacity: 0;
    margin-top: -20px; } }
@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes opacity-off {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes intro-info {
  0% {
    opacity: 0;
    margin-left: -40px; }
  100% {
    opacity: 1;
    margin-left: 0px; } }
@keyframes intro-info-off {
  0% {
    opacity: 1;
    margin-left: 0px; }
  100% {
    opacity: 0;
    margin-left: -40px; } }

/*# sourceMappingURL=portfolio.css.map */
