body {
  margin: 0;
  padding: 0;
  background: #161616;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  body:hover {
    cursor: default; }

ul {
  -webkit-padding-start: 0px; }

::-webkit-scrollbar {
  display: none; }

.wrapper {
  width: 88vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0; }

.ui {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto; }

.menu-button {
  position: absolute;
  width: 4vh;
  height: 4vh;
  top: 8vh;
  left: 3vw;
  transition: 0.4s; }
  .menu-button:hover {
    cursor: pointer; }
    .menu-button:hover .menu-part {
      background-color: #F44336;
      transition: 0.4s; }
      .menu-button:hover .menu-part:nth-child(1) {
        animation: menu 0.4s infinite forwards alternate-reverse paused; }
      .menu-button:hover .menu-part:nth-child(2) {
        animation: menu 0.5s infinite forwards alternate-reverse paused; }
      .menu-button:hover .menu-part:nth-child(3) {
        animation: menu 0.6s infinite forwards alternate-reverse paused; }
      .menu-button:hover .menu-part:nth-child(4) {
        animation: menu 0.7s infinite forwards alternate-reverse paused; }
  .menu-button .menu-part {
    display: block;
    width: 100vw;
    height: 2px;
    background-color: #ffffff;
    margin-bottom: 0.6vh; }
    .menu-button .menu-part:nth-child(1) {
      animation: menu 0.4s infinite forwards alternate-reverse; }
    .menu-button .menu-part:nth-child(2) {
      animation: menu 0.5s infinite forwards alternate-reverse; }
    .menu-button .menu-part:nth-child(3) {
      animation: menu 0.6s infinite forwards alternate-reverse; }
    .menu-button .menu-part:nth-child(4) {
      animation: menu 0.7s infinite forwards alternate-reverse; }

.section-name {
  position: absolute;
  z-index: 8;
  height: 20vh;
  top: 8vh;
  left: 50vw;
  transform: translateX(-50%);
  font-size: 2vh;
  font-weight: 400;
  transition: 0.4s; }
  .section-name div:first-child {
    opacity: 1; }
  .section-name div:last-child {
    opacity: 0; }

.recent-work {
  margin-top: 20vh;
  width: 100%;
  height: 52vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding-top: 12vh;
  filter: grayscale(100%);
  transition: 0.4s;
  background-color: #161616;
  background-image: url("/images/recent-work/recent-work.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .recent-work:hover {
    filter: grayscale(0);
    transition: 0.4s; }
  .recent-work h1 {
    font-size: 6.4vh;
    font-weight: 700;
    margin-left: -4vw;
    /* -90px */ }

.explore-button {
  position: relative;
  margin-top: -3.2vh;
  font-size: 2vh;
  font-weight: 400;
  width: 14vh;
  text-align: left;
  margin-left: -4vw;
  padding-bottom: 0.6vh;
  border-bottom: #fff solid 2px;
  transition: 0.4s; }
  .explore-button:hover {
    cursor: pointer;
    border-bottom-color: #F44336;
    transition: 0.4s;
    width: 18vh; }

.profile {
  margin-top: 6vh;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 54vh; }
  .profile p {
    margin-top: 54vh;
    font-size: 2vh;
    line-height: 4vh;
    color: #505050;
    width: 40vw; }
    .profile p span {
      color: #fff; }

.about-button {
  margin-left: auto;
  margin-right: auto;
  font-size: 2vh;
  font-weight: 400;
  width: 6vh;
  text-align: center;
  padding-bottom: 0.5vh;
  border-bottom: #fff solid 2px;
  transition: 0.4s; }
  .about-button:hover {
    cursor: pointer;
    border-bottom-color: #F44336;
    transition: 0.4s;
    width: 9vh; }

.menu-ui {
  position: fixed;
  z-index: -1;
  text-align: left;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  background-color: #fff;
  margin-left: -800px; }
  .menu-ui div {
    color: #000;
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.4s;
    padding-bottom: 10px;
    margin-bottom: -26px;
    height: 30px; }
    .menu-ui div:hover {
      cursor: pointer;
      border-bottom-color: #F44336;
      transition: 0.4s; }

.menu-wrapper {
  position: absolute;
  top: 50vh;
  transform: translateY(-50%); }
  .menu-wrapper a {
    text-decoration: none;
    color: #fff; }

.menu-ui-intro {
  width: 66px;
  border-bottom: #000 solid 2px;
  transition: 0.4s; }
  .menu-ui-intro:hover {
    width: 100px;
    transition: 0.4s; }

.menu-ui-about {
  width: 84px;
  border-bottom: #000 solid 2px;
  transition: 0.4s; }
  .menu-ui-about:hover {
    width: 118px;
    transition: 0.4s; }

.menu-ui-works {
  width: 84px;
  border-bottom: #000 solid 2px;
  transition: 0.4s; }
  .menu-ui-works:hover {
    width: 118px;
    transition: 0.4s; }

.menu-ui-contact {
  width: 110px;
  border-bottom: #000 solid 2px;
  transition: 0.4s; }
  .menu-ui-contact:hover {
    width: 144px;
    transition: 0.4s; }

.works {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 140px;
  width: auto;
  height: auto;
  text-align: center; }
  .works .head-works {
    margin-left: 80px;
    font-size: 44px;
    font-weight: 400;
    width: 140px;
    border-bottom: #fff solid 3px;
    margin-bottom: 36px;
    padding-bottom: 5px; }
  .works .head-others {
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    font-weight: 400;
    width: 84px;
    border-bottom: #fff solid 3px;
    margin-bottom: 36px;
    padding-bottom: 5px; }
  .works .works-ul {
    text-align: center;
    list-style-type: none;
    height: 736px;
    width: 100%;
    white-space: nowrap;
    display: inline-block; }
    .works .works-ul .work {
      display: inline-block;
      margin-right: 12px;
      width: 480px;
      height: 736px;
      max-height: 736px;
      background-color: #fff;
      vertical-align: middle;
      filter: grayscale(100%);
      transition: 0.4s; }
      .works .works-ul .work:hover {
        filter: grayscale(0%);
        transition: 0.4s; }
      .works .works-ul .work a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none; }
  .works .others-ul {
    position: relative;
    display: inline-block;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1400px; }
    .works .others-ul .other {
      margin-left: 50px;
      margin-bottom: 96px;
      height: 320px;
      width: 370px;
      text-align: center;
      border: 0;
      display: inline-block;
      filter: grayscale(100%);
      transition: 0.4s;
      background-color: #505050; }
      .works .others-ul .other:hover {
        filter: grayscale(0%);
        transition: 0.4s; }
      .works .others-ul .other:nth-child(1), .works .others-ul .other:nth-child(4), .works .others-ul .other:nth-child(7), .works .others-ul .other:nth-child(10), .works .others-ul .other:nth-child(13), .works .others-ul .other:nth-child(16), .works .others-ul .other:nth-child(19) {
        margin-left: 0; }
      .works .others-ul .other a {
        color: #fff;
        text-decoration: none; }
      .works .others-ul .other img {
        border: 0;
        height: 320px;
        width: 374px;
        background-color: #0D1114;
        margin-bottom: 22px; }
      .works .others-ul .other span {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px; }
        .works .others-ul .other span span {
          color: #9ea4a9;
          font-size: 13px;
          font-weight: 300;
          line-height: 18px; }

.footer {
  width: 100%;
  text-align: center; }
  .footer hr {
    margin-bottom: 96px;
    height: 2px;
    width: 60px;
    border: 0;
    background-color: #fff;
    opacity: 0.3; }
  .footer .letstalk {
    display: block;
    font-size: 28px;
    margin-bottom: 12px; }
    .footer .letstalk a {
      color: #fff;
      transition: 0.4s; }
      .footer .letstalk a:hover {
        opacity: 0.4;
        transition: 0.4s; }
  .footer .social {
    list-style: none;
    display: inline-block;
    width: 100%;
    text-align: center; }
    .footer .social li {
      display: inline-block;
      margin-right: 14px;
      transition: 0.4s; }
      .footer .social li img {
        height: 20px;
        width: 20px; }
      .footer .social li:hover {
        opacity: 0.4;
        transition: 0.4s; }
  .footer .year {
    width: 100%;
    font-size: 12px;
    letter-spacing: 0.6px;
    margin-top: 92px;
    margin-bottom: 52px;
    text-align: center;
    opacity: 0.3; }

@keyframes menu {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
@keyframes menu-ui {
  0% {
    transform: skew(-30deg);
    margin-left: -800px; }
  100% {
    transform: skew(0deg);
    margin-left: 0px; } }
@keyframes menu-ui-off {
  0% {
    transform: skew(0deg);
    margin-left: 0px; }
  100% {
    transform: skew(10deg);
    margin-left: -800px; } }
@keyframes menu-ui-link {
  0% {
    opacity: 0;
    margin-left: -70px; }
  50% {
    opacity: 0.2;
    margin-left: -35px; }
  100% {
    opacity: 1;
    margin-left: 40px; } }
@keyframes menu-ui-link-off {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 0; } }

/*# sourceMappingURL=portfolio.css.map */
