<!DOCTYPE html>

<html ng-app="portfolio">

  <head>
    <title>Berke Kiran</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Search Engines -->
    <meta name="description" content="Personal portfolio of Berke Kiran.">
    <meta name="keywords" content="Berke, Kiran, Berke Kiran, digital, web design, 3d character, graphic, designer, design, 3d character artist, web design, user experience, front-end developer">
    <meta name="author" content="Berke Kiran">
    <!-- Mobile Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Androclass -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Androclass Tab Color -->
    <meta name="theme-color" content="#0d1114">
    <!-- External -->
    <link type="text/css" rel="stylesheet" href="css/portfolio.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#161616">
    <meta name="theme-color" content="#161616">
  </head>

  <body>

    <section class="ui" ng-controller="menuController">
      <div class="menu-button" ng-click="menuclick()">
        <span class="menu-part" ng-style="menuButtonstyle"></span>
        <span class="menu-part" ng-style="menuButtonstyle"></span>
        <span class="menu-part" ng-style="menuButtonstyle"></span>
        <span class="menu-part" ng-style="menuButtonstyle"></span>
      </div>
      <span class="section-name">Berke <b>Kiran</b></span>
      <div class="menu-ui" ng-style="menustyle">
        <div class="menu-wrapper">
          <div class="menu-ui-intro" ng-style="menulinkstyle">Intro</div>
          <br>
          <div class="menu-ui-about" ng-style="menulinkstyle1">About</div>
          <br>
          <div class="menu-ui-works" ng-style="menulinkstyle2">Works</div>
          <br>
          <br>
          <br>
          <div class="menu-ui-contact" ng-style="menulinkstyle3">Contact</div>
          </div>
      </div>
    </section>

    <section class="recent-work js-tilt" data-tilt>
      <h1>
        I'm a self-taught
        <br>
        3D Character Artist &
        <br>
        Front-End Developer.
      </h1>
      <div class="explore-button">Explore my Art</div>
    </section>

    <section class="profile">
      <div class="about-button">About</div>
      <p>
        <span>Hello!</span> I’m <span>Berke Kiran</span> a self-taught <span>3D Character Artist</span> and <span>Front-End Developer</span>.
        <br>
        I am specialized in creating <span>3D characters</span> for <span>cinematics</span>, <span>feature film</span>, and <span>games</span>.
        <br>
        I love <span>art</span>, <span>science</span>, <span>coding</span>, <span>learning</span> new technologies & <span>improving myself</span>. I was
        <br>
        born and grew in <span>Turkey</span>. So I can speak <span>Turkish</span>, <span>English</span> and little bit <span>German</span>.
        <br>
        I started to learning <span>game creation</span> at <span>13</span> years old. Now I am living to <span>learn and create</span>
        <br>
        something new <span>every day</span>. I graduated high school in <span>2015</span> with a class rank of <span>second</span>
        <br>
        Out <span>of 724</span> graduates. Then I honored with <span>Outstanding Achievement Certificate</span>
        <br>
        & now going to <span>KB.University</span> in Karabuk. I'm learning <span>computer engineering</span>.
        <br>
        <br>
        If you have a <span>project</span> you'd like to <span>discuss</span>, feel free to <span>reach out</span>.
      </p>
    </section>

    <section class="works" ng-controller="worksController">
      <h1>Works</h1>
      <div class="works-slider">
        <ul class="works-ul">
          <li ng-repeat="work in works"></li>
        </ul>
      </div>
      <div>© 2017</div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/tilt.js"></script>
    <script type="text/javascript" src="js/tiltOptions.js"></script>
    <script type="text/javascript" src="js/portfolio.js"></script>

  </body>

</html>
